p {
     font-size: 15px;
}

code {
     font-size: 18px;
     font-family: Arial, Helvetica, sans-serif;
     background: #e9ccce;
     word-wrap: break-word;
     box-decoration-break: clone;
     padding: .1rem .3rem .2rem;
     border-radius: .2rem;
     margin-left: 1%;
     display: block;
     width: 80%;
     border-radius: 3%;
}
